html {
    box-sizing: border-box; /* 박스너비 기준 */
    height: 100%; 
}

*,
*::before,
*::after { /* 마지막 요소에 적용 */
    box-sizing: inherit; /* inherit  부모로부터 물려받음*/
    margin: 0; /* margin  네 방향 바깥 여백*/
    padding: 0; /* margin  네 방향 안쪽 여백*/
}

body {
    align-items: center; /* 수직축 방향으로 항목정렬 : 가운데 */
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4); /* 전체 배경화면 linear-gradient 두개 이상 색상 그라데이션 */
    display: flex; /* 부모 flex container 설정 / width만큼 가로 방향으로 배치 칼럼 높이가 자동으로 맞춰짐 */
    font-family: 'Dosis', sans-serif; /* 글씨체 */
    font-display: swap;
    height: inherit;
    justify-content: center; /* 아이템 화면 가운데 설정 */
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px; /* 아이템의 기본 크기 설정 */
    height: 540px;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.075);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(35, 35, 35, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: 24px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(35, 35, 35, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #d72880;
}

.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:hover {
    background-color: inherit;
}

.calc-button:active {
    background-color: #ffef78;
}

.double {
    flex-basis: 47%;
}

.triple {
    flex-basis: 73%;
}